project              = "deepfinery-training-studio"
aws_region           = "us-west-2"
aws_profile          = "default"
s3_data_bucket       = "deepfinery-training-data-123456"
s3_model_bucket      = "deepfinery-trained-models-123456"
public_subnet_cidr   = "10.20.1.0/24"
public_subnet_cidr_b = "10.20.2.0/24"
availability_zone    = "us-west-2a"
allowed_ingress_cidr = "0.0.0.0/0"
ssh_key_name         = "deepfinery-training-studio"
ssh_public_key_path  = "~/.ssh/deepfinery-training-studio.pub"
instance_type        = "t3.small"
remote_deploy_path   = "/opt/deepfinery"
docdb_username       = "deepfinery"
docdb_password       = "changeme123!"
docdb_instance_class = "db.t3.medium"
docdb_instance_count = 1
docdb_port           = 27017
cognito_domain_prefix = "deepfinery-training"
google_client_id      = "GOOGLE_CLIENT_ID"
google_client_secret  = "GOOGLE_CLIENT_SECRET"
oauth_callback_urls   = ["http://localhost:3000/sso/callback"]
oauth_logout_urls     = ["http://localhost:3000/logout"]
